<template>
    <body class="d-flex flex-column w-100">

        <main class="flex-shrink-0 mb-3" role="main">
            <messages />
        </main>
    </body>
</template>
<script>
    import Messages from "./components/Messages";
    export default {
        name: "App",
        components: {Messages},
        data() {
            return {

            };
        }
    };
</script>
