<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Сообщения. Хранение в <b>{{ settings }}</b></div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h2>Новое сообщение</h2>

                                <form class="container" @submit.prevent="storeData" v-bind:v-model="form" method="post">
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-2 col-form-label">Имя</label>
                                        <div class="col-sm-10">
                                            <input v-model="form.name" type="text" class="form-control" id="name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="phone" class="col-sm-2 col-form-label">Телефон</label>
                                        <div class="col-sm-10">
                                            <input v-model="form.phone" type="text" class="form-control" id="phone">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="content" class="col-sm-2 col-form-label">Сообшение</label>
                                        <div class="col-sm-10">
                                            <textarea v-model="form.content" class="form-control" id="content"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10 offset-2">
                                            <button type="submit" class="btn btn-success">Отправить</button>
                                        </div>
                                    </div>
                                </form>
                                <div v-if="error" class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            </div>
                            <div class="col-4">
                                <h2>Способ хранения</h2>
                                <select class="form-control" v-model="settings">
                                    <option v-for="value in settingsValues">{{ value }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <ul>
                            <li v-for="item in items">
                                <component
                                    v-bind:is="getItemTemplate()"
                                    v-bind:item="item"
                                />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ItemUrl from "./blocks/ItemUrl";
    import ItemData from "./blocks/ItemData";

    export default {
        name: "Messages",
        components: {ItemData, ItemUrl},
        data() {
            return {
                items: [],
                settings: null,
                settingsValues: [],
                form: {
                    name: null,
                    phone: null,
                    content: null
                },
                error: null
            };
        },
        mounted() {
            this.getSettings()
            this.getData();
            this.getSettingsValue()
        },
        watch: {
            settings: function () {
                this.getItemTemplate();
                this.setSettings();

            }
        },
        methods: {
            getItemTemplate() {
                switch (this.settings) {
                    case 'eloquent':
                        return "ItemData"
                    case 'file':
                        return "ItemUrl"
                }
            },
            getData() {
                axios
                    .get("api/messages")
                    .then(response => {
                        this.items = response.data;
                        this.error = false
                    })
                    .catch(error => console.log(error))
                    .catch(exeption => console.log(exeption));
            },
            storeData() {
                axios
                    .post("api/messages", this.form)
                    .then(response => {
                        this.getData()
                    })
                    .catch(error => {
                        console.log(error)
                        this.error = error.response.data.message
                    })
                    .catch(exeption => {
                        console.log(exeption)
                        this.error = 'что то пошло не так'
                    });
            },
            getSettings() {
                axios
                    .get("api/settings/get")
                    .then(response => {
                        this.settings = response.data;
                    })
                    .catch(error => console.log(error))
                    .catch(exeption => console.log(exeption));
            },
            setSettings() {
                axios
                    .put("api/settings", {
                        'messages_store': this.settings
                    })
                    .then(response => {
                        this.settings = response.data;
                        this.getData();
                    })
                    .catch(error => console.log(error))
                    .catch(exeption => console.log(exeption));
            },
            getSettingsValue() {
                axios
                    .get("api/settings/list")
                    .then(response => {
                        this.settingsValues = response.data;
                    })
                    .catch(error => console.log(error))
                    .catch(exeption => console.log(exeption));
            },

        },
    }

</script>

<style scoped>

</style>
