<template>
    <div>
        <a v-bind:href="getUrl()" download>{{ item }}</a>
    </div>
</template>

<script>
    export default {
        name: "ItemUrl",
        props: [
            'item'
        ],
        methods: {
            getUrl() {
                return 'storage/' + this.item
            }
        }
    }
</script>

<style scoped>

</style>
