<template>
    <div>
        <h3>item data</h3>
        {{item}}
    </div>
</template>

<script>
    export default {
        name: "ItemData",
        props: [
            'item'
        ]
    }
</script>

<style scoped>

</style>
